<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>194662291794-adeo4sh1qksul575j53nn0m19tdnbf5m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.194662291794-adeo4sh1qksul575j53nn0m19tdnbf5m</string>
	<key>API_KEY</key>
	<string>AIzaSyDdFWDLPvOGSeKpJiVBtvfXZmkWj3PjTXY</string>
	<key>GCM_SENDER_ID</key>
	<string>194662291794</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>.mytechpal.mmburial</string>
	<key>PROJECT_ID</key>
	<string>mm-burial</string>
	<key>STORAGE_BUCKET</key>
	<string>mm-burial.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:194662291794:ios:7a6be7ded416ecee58c28b</string>
	<key>DATABASE_URL</key>
	<string>https://mm-burial.firebaseio.com</string>
</dict>
</plist>